:host {
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "score"
    "board"
    "rack";
  row-gap: 10px;
  justify-items: left;
  align-items: start;
}

@media (min-width: 775px) {
  .container {
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    grid-template-areas:
      "score board"
      "rack board";
  }
}

.score-container {
  grid-area: score;
  display: inline;
  margin: auto auto;
}

.rack-container {
  grid-area: rack;
  margin: 0px auto auto auto;
}

.board-container {
  grid-area: board;
  display: inline;
}

@media (min-width: 775px) and (orientation: portrait), (min-width: 1000px) and (orientation: landscape) {
  .score-container {
    margin: auto auto;
  }

  .rack-container {
    margin: auto auto;
  }

  .board-container {
    margin: 10px;
  }
}
