<div class="board" *ngIf="gmSvc.grid$ | async as grid; else loading">
  <ng-container *ngFor="let row of grid">
    <ng-container *ngFor="let square of row">
      <div cdkDropList
        *ngIf="gmSvc.turnState$ | async as turnState"
        class="boarddrop"
        [cdkDropListData]="'BD' + square.row + ',' + square.col"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!turnState.myTurn"
        (cdkDropListDropped)="dropped($event)">
          <div [ngClass]="square.sqClasses" cdkDrag [cdkDragData]="'BD' + square.row + ',' + square.col"
            [cdkDragDisabled]="!square.isTile || square.isScored">
            <span class="letter">
              {{square.mainText}}
            </span>
            <span class="footer" *ngIf="square.isTile">
              {{square.letterValue.toString()}}
            </span>
            <div *cdkDragPlaceholder></div>
          </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <div class="container">
    <app-loading></app-loading>
  </div>
</ng-template>
