<div class="center">
  <h2>Add {{type}}</h2>
  <form #playerForm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type=text class="forms-control" id="name" required [(ngModel)]="model.name" name="name" autofocus>
    </mat-form-field>
      <div>
        <a mat-button [routerLink]="['../list-players']">Cancel</a>
        <button mat-raised-button color="primary" type="submit" [disabled]="!playerForm.form.valid" class="btn btn-success" (click)="onSubmit()">Submit</button>
      </div>
  </form>
</div>
