<div>
  <app-signon-header [message]="headerMessage" (raiseAddItemEvent)="raiseAddItem()"></app-signon-header>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>


<app-add-item *ngIf="!listMode"
    [type]="this.addItemType"
    (submitEvent)="addNewItem($event)"></app-add-item>

<app-list-players *ngIf="listMode && !signOnSvc.player"
    (playerSelectedEvent)="playerSelected($event)"
    [players]="players"
  ></app-list-players>
<app-list-games *ngIf="listMode && signOnSvc.player"
  ></app-list-games>
