:host {
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}

mat-card.container {
  padding: 5px !important;
  margin: 0 auto;
}

mat-card-header {
  display: none;
}

.playerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

@media (min-width: 775px) {
  .playerContainer {
    flex-flow: column nowrap;
  }

  mat-card.container {
    box-sizing: border-box;
    width: 301px;
    padding: 8px;
  }

  mat-card-header {
    display: block;
    line-height: 20px;
    font-size: 20px;
  }
}

mat-card.playerItem {
  box-sizing: border-box;
  padding: 6px;
  flex: 1 1 0px;
}

.detailsContainer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

span.name {
  white-space: nowrap;
}

span.name {
  flex-grow: 1;
}

.turn {
  font-weight: bold;
}

.winner {
  font-weight: bold;
  background-color: royalblue;
}
