:host {
  align-content: center;
  box-sizing: border-box;
  width: 100%;
}

mat-card.container {
  padding: 5px !important;
}

.playerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

mat-card.playerItem {
  box-sizing: border-box;
  max-width: calc((100%)/4);
  padding: 6px;
  flex: 1 1 0px;
}

.detailsContainer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

span.name {
  white-space: nowrap;
}

span.name {
  flex-grow: 1;
}

.turn {
  font-weight: bold;
}

.winner {
  font-weight: bold;
  background-color: royalblue;
}
