<mat-card class="tilerack">
  <div class="titleContainer">
      <span class="playerName">{{player | titlecase}}</span>
      <span class="tileRemaining">{{tilesRemaining}} Tiles Remain</span>
  </div>
  <mat-card-content>
    <h3 *ngIf="myTurn" [class.myturn]="myTurn">Your Turn</h3>
    <h3 *ngIf="gameOver" [class.myturn]="myTurn">Game Over</h3>
    <h3 *ngIf="!myTurn && !gameOver"></h3>
    <app-tile-holder #tileHolder></app-tile-holder>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="((!myTurn) || !(gmSvc.socketReady$ | async))" (click)="resetMoveEvent()">Recall</button>
    <button mat-button [disabled]="((!myTurn) || !(gmSvc.socketReady$ | async))" (click)="passMoveEvent()">Pass</button>
    <button mat-button *ngIf="tileHolder.swapTilesButtonPressed"
      [disabled]="((!myTurn) || !(gmSvc.socketReady$ | async) || (tilesRemaining < 7))"
      (click)="tileHolder.swapTileEventHandler()" color="accent">Swap Tiles</button>
    <button mat-button *ngIf="!tileHolder.swapTilesButtonPressed"
      [disabled]="((!myTurn) || !(gmSvc.socketReady$ | async) || (tilesRemaining < 7))"
      (click)="tileHolder.swapTileEventHandler()">Swap Tiles</button>
    <button mat-raised-button color="primary"
      [disabled]="((!myTurn)
        || !(gmSvc.socketReady$ | async )
        || (tileHolder.swapTilesButtonPressed)
        || (gmSvc.currentMove.length === 0))"
      (click)="playMoveEvent()">Play</button>
  </mat-card-actions>
</mat-card>
