mat-card.tilerack {
  width: 285px;
  padding: 8px;
}

mat-card-content {
  margin-bottom: -2px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-bottom: 0px;
}

span.playerName {
  line-height: 20px;
  font-size: 20px;
}

mat-card-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 0px;
  margin-bottom: 0px !important;
}

button {
  flex: 1 1 0px;
}
