.headings span {
  font-size: .8rem;
  font-weight: bold;
}

h2 {
  font-size: .8rem;
  font-weight: bolder;
}

.name {
  width: 25%;
}

.players {
  width: 40%;
}

.turn {
  width: 20%;
  text-align: center;
}

.action {
  width: 15%;
  text-align: center;
}

mat-list-item.gameover {
  background-color: rgb(247, 247, 247);
}

@media (max-width: 775px) {
  .mat-list-item.gameRow {
    font-size: 13px;
  }

  mat-icon {
    font-size: 18px;
  }

  a.mat-button.button {
    padding: 0px !important;
    min-width: fit-content !important;
  }
}
