<ng-container *ngIf="addGameButtonPressed; else elseTemplate">
  <div>
    <mat-label class="inputLabel">Game Name:</mat-label>
    <input #gameName matInput type=text class="forms-control" autofocus (keyup.enter)="addGame(gameName.value)"/>
  </div>
  <div>
    <a mat-icon-button (click)="addGame(gameName.value)">
      <mat-icon mat-list-icon matTooltip="Add a new game">add_circle</mat-icon>
    Add</a>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div>
    <a mat-icon-button (click)="addGameButtonPressed = true">
      <mat-icon mat-list-icon matTooltip="Add a new game">add_circle</mat-icon>
    Add</a>
  </div>
</ng-template>
